*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.Logo{
    font-size: 20px;
    font-family: 'times new roman', serif;
    font-weight: bold;
    color: #00254e;
    border: 2px solid #bbd7f6;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #bbd7f6;
}

body{
    font-family: 'Poppins', sans-serif;
    background:#bbd7f6  
}

header{
    position:fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display:flex;
    flex-wrap : wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0)
}

.nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-decoration: none;
    padding: 10px 20px;
    

}
.nav-button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

footer{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 100px;
    color: #00254e;
}

.slider {
    width: 400px;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
    display: none;
}

.slide.active {
    display: block;
}

.contact-form{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 20px;
}

button{
    cursor: pointer;
    color: #bbd7f6;
    inline-size: auto;
}

.about{
    text-align: center;
    padding-top: 100px;
    color:  #00254e;

}

p{
    text-align: center;
    padding: 0%;

}

h2{
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    text-decoration: underline;
}

about{
    padding-top: 100px;
    
}

.zokha{
    height: 500px;
    width: 500px;
    background-color: rgb(211, 232, 250);
    border-radius: 10px;
    align-items: normal;
    border-color: #00254e;
    border-style:double;
    padding: auto;
    margin-left: 100px;
}

.mutu{
   
    text-decoration: none;
}

.part{
    padding-top: 100px;
}
a{
    padding-left: 20px;

}
button{
    padding-left: auto;
    background-color: #3895ff;
    text-align: justify;
}